<ion-view view-title="{{selectedChallenge.name}}">
  <ion-content class="padding">
    <!--Made it to the challenge photos-->
      <div class="row">

        <div class="col-col-33 col-buffer">
          <div>
            <img style="width: 100px; border-radius: 80%" ng-src="{{selectedChallenge.image}}">
            <!--<p class="center-text">{{currentUser.profile.name}}</p>-->
          </div>
        </div>

        <div class="col col-60 col-buffer">
          <div>
              <button class="button button-block button-icon icon ion-camera" style="margin-top: 0px !important; margin-bottom: 0px !important;" ng-click=""> upload</button>
           <br>
            <!--<button class="button button-block button-balanced" ng-click="">Upload</button>-->
            <a class="button button-icon ion-ios-plus-outline" style="margin-top: 0px !important; margin-bottom: 0px !important;" icon-off="ion-ios-plus-outline" icon-on="ion-ios-checkmark" data-state="off" ng-click="activate(selectedChallenge)" icon-switcher>
            </a>
            <div class="row" style="float: left; width: 55px; height: 20px" ng-repeat="accept in accepteds">
              {{accept.name}},
              <!--<!--<img ng-src="{{accept.gravatar}}" class="img-circle comment gravatar">-->
            </div>
          </div>
        </div>

      </div>

    <button style="min-height: 5px !important; height: 5px !important; margin-top: 0px !important; margin-bottom: 0px !important;" class="button button-block button-energized">
    </button><br>

    <div>
      <ion-item style="height:100px; width:100px; padding:0px !important; float: left" class="item item-image" ng-repeat="photo in photos" href= "#/app/tab/dash/{{challenge.$id}}/{{photo.$id}}">
        <img style="height:100px; width:100px; padding:0px !important " ng-src="{{photo.image}}">
        <!--{{photo.name}}-->
      </ion-item>
    </div>
  </ion-content>
</ion-view>
