<ion-view view-title="{{currentUser.profile.name}}">
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

  <ion-content>
    <div class="row">

      <div class="col-col-33 col-buffer">
        <div>
          <img style="width: 100px; border-radius: 80%" ng-src="{{currentUser.profile.gravatar}}">
          <p class="center-text">{{currentUser.profile.name}}</p>
        </div>
      </div>

      <!--<div class="col-10">-->
        <!--&nbsp;-->
      <!--</div>-->

      <div class="col col-60 col-buffer">
        <div>
          <button class="button button-block button-balanced" ng-click="editProfile()">Edit Profile</button>
          <p>Stats(?)</p>
        </div>
      </div>



    </div>

    <ion-list>
      <button ng-hide = "!signedIn()" id="logout" class="button button-energized button-block" ng-click="logout()">
      Logout
      </button>

      <!--<div side="right">-->
        <!--<button class="button button-icon icon ion-camera" ng-click="upload()">upload</button>-->
      <!--</div>-->


      <ion-item id= "profile" class="card" ng-repeat="photo in photos" href= "">
        <div class="item item-image" >
            <img ng-src="{{photo.image}}">
            <!--{{photo.name}}-->
        </div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
