<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Submit Photo</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
   <div>
    List of Challenges
    <div class="row" ng-repeat="challenge in challenges track by $index" ng-if="$index % 4 == 0" ng-class="{'selected': challenge.selected}">
      <div class="col col-25"  ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]" ng-if="challenges[i] != null">
        <!--<div class="col col-25">-->
          <!--<div ng-show = "select(challenges[i])">-->
              <div class="button button-selected" ng-click="select(challenges[i])" >
                <img style="width: 100%; height:100%" ng-src="{{challenges[i].image}}" ng-model="challenge.selected">
              </div>
      </div>
    </div>

    <br>

    <div class="list">

      <label class="item item-input">
        <!--<i class="ion-ios-email" style="font-size: 30px"></i>&nbsp;&nbsp;-->
        <input class="createPlaceholders" type="text" placeholder="Name" ng-model="photo.photoName">
      </label>

    </div>

    <!--<input type="hidden" ng-model="photo.challenge" value="12" />-->

    <div ng-if="selected">
      Challenge: {{challengeId}}
      <input type="hidden" ng-model="photo.challenge" ng-value="challengeId" />
      <!--{{$scope.challengeId}}-->
    </div>


     <!--<input type="hidden" ng-model="photo.imageURI" value="data:image/jpeg;base64/{{data.imageURI}}"/>-->
     <input type="hidden" ng-model="photo.imageURI" value="carol"/>


   </div>

    <!--<input type="hidden" ng-model="challenge.challengeId" value="{{challengeId}}">-->
    <!--<input type="text" ng-model="photo.test" ng-value="challengeId" />-->


    <button type="submit" class="button button-full button-positive" ng-click="submitPhoto(photo)">Submit</button>
  </ion-content>
</ion-modal-view>
